.champion {
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #111111;
}

.champion img {
    width: 100%;
    height: 100%;
}

.champion h2 {
    text-align: center;
    font-size: 1.25rem;
    margin: 0 1rem;
    color: white;
}