.background {
  background-image: url("../public/assets/imgs/background-landing.jpg");
  /* background-image: url("../assets/images/npe-ft-role-icon-tank.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  /* overflow: auto; */
}

.list-container {
  overflow: auto;
}

@font-face {
  font-family: leagueFont;
  src: url("../public/assets/fonts/beaufortforlol-italic.otf");
}

* {
  font-family: leagueFont;
}