.main-wrapper {
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.champ-image {
    display: block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.tiny-wrapper {
    display: flex;
    flex-direction: column;
}

.primary {
    border-radius: 50%;
    background-color: black;
}